$def with (password_token)
$var subject: VPT : demande de changement de mot de passe
Hey,

Une demande de changement de mot de passe associée à ton compte a été faite
le $:formatting.format_date(dates.change_timezone(password_token.creation_dt), "%d/%m/%y %H:%M").

Si tu n'es pas l'auteur de cette demande, tu n'as rien à faire : ton mot de passe
restera inchangé.

Si tu es bien l'auteur de cette demande, rends-toi à cette adresse pour définir un nouveau mot de passe :
http://vpt.franck-perez.com/reset/password?token=$password_token.token

Ce lien est valable 48h.

Bisous,
Le portail

** Ceci est un email généré automatiquement, merci de ne pas y répondre **