html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,ul {
    list-style: none;
}

q:before,q:after,
blockquote:before,blockquote:after {
    content: "";
}

form.login_form label, form.login_form input {
    display: block;
    margin: 3px 0px;
    width: 300px;
}

form.user_form label, form.user_form input {
    display: block;
    margin: 3px 0px;
    width: 300px;
}

form.results_form label, form.results_form input {
    display: block;
    width: 110px;
}

form.login_form button, form.user_form button, form.results_form button {
    padding:2px 0 0 0;
    color:white;
    background-color:black;
    border-color:#56aaff;
    border-width:thin;
    font-weight:bold;
    width:100px;
    height:25px;
    margin: 10px 0;
}

div.login_error, span.field_error, span.grid_error {
    font-weight: bold;
    color: red;
    /* margin: 0 0 0 0; */
    display: block;
}

div.login_success {
    font-weight: bold;
    color: green;
    display: block;
}

div.comment_wrapper {
    clear:both;
    /* border-top:0.5px dotted #eee; */
    margin:0;
    padding:10px 0 19px 0;
    min-height:35px;
}

div.comment_information {
    /* width:140px;
    border:none; */
    float:left;
}

div.comment_user {
    font-weight:bold;
}

div.comment_date {
    font-size:90%;
}

div.comment_content {
    margin-left:200px;
    /* width:550px;
    padding:2px 0 0 0; */
}

div.comment_content a {
    color:#000000;
    text-decoration:underline;
}

textarea.comment_textarea {
    width:550px;
    height:80px;
    margin-left:200px;
    padding:2px 0 0 0;  
}

button.comment_button {
    margin-left:200px;
    padding:2px 0 0 0;
    color:white;
    background-color:black;
    border-color:#56aaff;
    border-width:thin;
    font-weight:bold;
    width:200px;
    height:25px;
}

table.results { 
    /* width: 480px; */
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.admin_results { 
    /* width: 480px; */
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.admin_generic {
    width: 340px;
}

table.results th, table.admin_results th {
    padding: 6px 3px;
    text-align: left;
    background-color:black;
    color:white;
    border: 1px black solid;
    font-weight:bold;
}

table.results td {
    padding: 6px 3px;
    text-align: left;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    /* border-left: 1px black solid;
    border-right: 1px black solid; */
}

table.admin_results td {
    padding: 1px 1px;
    text-align: left;
}

table.stats td {
    padding: 4px;
    text-align: left;
    border: 1px black dotted;
}

table.stats { 
    width: 410px;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

table.stats td A {
    text-decoration: none;
    font-weight:bold;
    color:grey;
}

table.stats td.title {
    font-weight: bold;
}

div.wrapper {
    font-family:Georgia,serif;
    margin:0 auto;
    padding-top:20px;
    position:relative;
    width:960px;
}

h1 a {
    color:#222222;
    font-size:60px;
    letter-spacing:-2px;
    padding:5px 5px 5px 0;
    text-decoration:none;
    word-spacing:5px;
}

h1 span {
    color:#111;
    font-weight:bold;
}

div.header {
    clear: both;
    position: relative;
    float: left;
    width: 100%;
}
div.header ul li {
    margin-bottom: 5px;
    margin-top: 15px;
    float: left;
    margin-right: 15px;
}

div.header ul li a {
    color:#111;
    /*text-transform: lowercase;*/
    font-family: Arial, sans-serif;
    display:block;
    font-size:20px;
    padding:2px;
    text-decoration:none;
}

div.header ul li a:hover {
    color:#c70000;
}

ul.notifications {
    width:280px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    font-family: Arial, sans-serif;
}
ul.notifications li {
    margin-bottom:10px;
    overflow: hidden;
    padding:5px;
    border-bottom: 1px solid #eee;
}

ul.notifications li h3 {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

ul.notifications li h3 a {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:#111;
}

ul.notifications li h3 a:hover {
    color:#c70000;
    text-decoration: underline;
}

ul.notifications li div p {
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
    line-height:14px;
}

ul.notifications li div p a {
    color:#333;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
ul.notifications li div p a:hover, div.post h2 a:hover, div.post a:hover {
    color:#c70000;
    text-decoration: underline;
}

ul.notifications li.footer div p {
    line-height:17px;
}

div.content {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 660px;
}

div.post {
    border-bottom:2px dashed #eee;
    padding-bottom:20px;
    padding-top:10px;
    margin-bottom: 20px;
    font-size: 14px;
}

div.post p a, div.post ul li a {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}

div.post p a:hover {
    text-decoration:underline;
}

div.post h2 {
    color:#111;
    display:block;
    font-size:25px;
    font-weight: bold;
    letter-spacing:-1px;
    word-spacing: 4px;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

div.post h2 span {
    color:#111;
    font-weight: bold;
}

div.post h2 a {
    color: #111;
    text-decoration:none;
    font-weight: bold;
}
div.post p, div.post ul {
    padding:15px 25px 5px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

div.post ul li {
    line-height: 23px;
    margin-left: 45px;
    list-style-type: circle;
}

div.post form a {
    margin-left: 10px;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    color:#111;
}
