$def with (user_fieldset, password_fieldset)

<div class="section"> 
<h1>Mon compte</h1>
<form action="/update/user" method="post" class="narrow">
    $:user_fieldset.render()
    <button type="submit">Modifier</button>
</form>
</div>

<div class="section">
<h1>Mon mot de passe</h1>
<form action="/update/password" method="post" class="narrow">
    $:password_fieldset.render()
    <button type="submit">Modifier</button>
</form>
</div>

$code: webparts.register_script(webparts.JS_FORMS)
