$def with (grid, fieldset)

$if grid:
    <div class="section">
    <h1>Edition des éléments</h1>
    <form action="" method="post" class="wide">
        <!-- Both forms hit the same POST therefore we use a special field to indicate the action -->
        <input type="hidden" name="event" value="$Events.MODIFIED">
        <table class="rounded wide">$:grid.render()</table>
        <button type="submit">Modifier</button>
    </form>
    </div>

$if fieldset:
    <div class="section">
    <h1>Ajout d'un élément</h1>
    <form action="" method="post" class="narrow">
        <!-- Both forms hit the same POST therefore we use a special field to indicate the action -->
        <input type="hidden" name="event" value="$Events.NEW">
        $:fieldset.render()
        <button type="submit">Créer</button>
    </form>
    </div>

$code:
    webparts.register_stylesheet(webparts.CSS_JQUERYUI)
    webparts.register_script(webparts.JS_FORMS)
    webparts.register_script(webparts.JS_JQUERYUI)
    webparts.register_script("administration.js")
