$def with (tournament)

$def show_comments():
    $for comment in tournament.comments:
        <div class="comment_wrapper"> 
            <div class="comment_information">
                <div class="comment_user">$comment.user.pseudonym</div> 
                <div class="comment_date">$:formatting.format_date(dates.change_timezone(comment.comment_dt), "%d/%m/%y %H:%M")</div>
            </div>
            <div class="comment_content">$:formatting.spacesafe(comment.comment)</div> 
        </div> 
       

<h2>Commentaires ($len(tournament.comments))</h2>
<p>
$:show_comments()
</p>

