$def with (entity, comment_formatter)

$def show_comments():
    <h1>Commentaires (<span id="nb_comments">$len(entity.comments)</span>)</h1>
    $for comment in entity.comments:
        $:comment_formatter(comment)

$code:
    # Form data by entity class
    FormData = namedtuple("FormData", ["comment_url", "entity_id"])
    FORM_DATA = {
        "Tournament": FormData("/add/comment", "tournament_id"),
        "Poll": FormData("/poll/comment", "poll_id")
    }

$def show_comment_form():
    <form id="comment_form" action="$FORM_DATA[class_name(entity)].comment_url" method="post">
    <input type="hidden" name="$FORM_DATA[class_name(entity)].entity_id" value="$entity.id">
    <textarea id="comment" name="comment"></textarea> 
    <button type="submit">Poster un commentaire</button>
    $:webparts.ajax_animation("comment_ajax_animation")
    </form>
    $code: webparts.register_script("comments.js")

<div id="comments" class="section">
$:show_comments()
$:show_comment_form()
</div>