$def with (next_tournament, all_news)

$def show_next_tournament():
    $if next_tournament:
    	Il aura lieu le <i>$:formatting.format_date(next_tournament.tournament_dt, "%A %d %B")</i> : 
    	<a href="tournament/$next_tournament.season_id/$next_tournament.position">cliquez ici</a> pour vous inscrire ou commenter la partie à venir.
    $else:
	    Le prochain tournoi n'est pas encore planifié.


<div class="post"> 
    <h2>Bienvenue</h2> 
    <p>Ce portail permet de gérer et suivre les tournois du VPT.</p> 
 
	<h2>Prochain tournoi</h2> 
	<p>$:show_next_tournament()</p> 
	
	<h2>Charte du VPT</h2>
	<p>Elle est téléchargeable <a href="/public/doc/charte.doc">ici</a> dans sa version de 2008.</p>
	
	<h2>Actualités du site</h2>
	<ul>
	    $for news in all_news:
	        <li><i>$:formatting.format_date(news.news_dt, "%d %B %Y")</i> : $:formatting.first_lower(news.news)</li>
    </ul> 
	
</div>

