$def with (pending_tournaments, open_polls, all_news)

$def show_pending_tournaments():
    $if pending_tournaments:
         <div class="section">
         <h1>Prochains tournois</h1>
         <ul>
         $for tournament in pending_tournaments:
             <li><em>$:formatting.format_date(tournament.tournament_dt, "%A %d %B").capitalize() : </em><a href="/tournament/$tournament.season_id/$tournament.position">s'inscrire</a></li>
         </ul> 
         </div>
    
$def show_open_polls():
    $if open_polls:
        <div class="section">
        <h1>Sondages ouverts</h1>
        <ul>
        $for poll in open_polls:
            <li><em>$poll.title : </em><a href="/poll/$poll.id">votez</a></li>
        </ul> 
        </div>

<div class="section">
<h1>Bienvenue</h1>	
<p>Ce portail permet de gérer et suivre les tournois du VPT.</p>
</div>

$:show_pending_tournaments()

$:show_open_polls()

<div class="section">
<h1>Charte du VPT</h1>
<p>Elle est téléchargeable <a href="/public/doc/charte.doc">ici</a> dans sa version de 2008.</p>
</div>

<div class="section">
<h1>Actualités du site</h1>
<ul>
$for news in all_news:
    <li><em>$:formatting.format_date(news.news_dt, "%d %B %Y")</em> : $:formatting.first_lower(news.news)</li>
</ul> 
</div>
