$def with (content, head_extension=None)

$def show_menu_for_logged_users():
    $ user = config.session_manager.user
    $if user:
        <ul class="notifications">
        <li><h3><a href="/admin/account">Mon compte</a></h3></li>
        <li><div><p><a href="/logout">Déconnexion</a></p></div></li>    
        $if user.admin:
            <li><h3>Administration</h3></li>
            <li><div><p><a href="/admin/seasons">Saisons</a></p></div></li>
            <li><div><p><a href="/admin/tournaments">Tournois</a></p></div></li>
            <li><div><p><a href="/admin/news">News</a></p></div></li>
            <li><div><p><a href="/admin/users">Utilisateurs</a></p></div></li>
            <li><div><p><a href="/admin/sessions">Sessions</a></p></div></li>
            <li><div><p><a href="/admin/polls">Sondages</a></p></div></li>
        $for season in all_seasons():
            <li><h3><a href="/season/$season.id">Saison $season.id</a></h3></li>
            $for tournament in season.tournaments:
                <li><div><p><a href="/tournament/$season.id/$tournament.position">Tournoi $tournament.position ($:formatting.format_date(tournament.tournament_dt, "%d/%m/%Y"))</a></p></div></li>
        </ul>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta http-equiv="Content-Language" content="en-us"/>
     
    <title>Portail du VPT (Voltaire Poker Tour)</title>

    $:formatting.include_js("ga.js")
    $:formatting.include_css("defaults.css")
    $:head_extension
</head> 
 
<body>  

<div class="wrapper"> 
<div class="header"><h1><a href="/">V<span>P</span>T</a></h1></div>

$:show_menu_for_logged_users() 
                            
<div class="content"> 
$:content
</div>  

</div>

</body>
</html>