$def with (content, seasons = None)

$def show_left_menu():
    $if seasons is not None:
        <li><h3><a href="/account">Mon compte</a></h3></li>
        <li><div><p><a href="/logout">Déconnexion</a></p></div></li>    
	    $for season in seasons:
	        <li><h3><a href="/season/$season.id">Saison $season.id</a></h3></li>
	        $for tournament in season.tournaments:
	            <li><div><p><a href="/tournament/$season.id/$tournament.position">Tournoi $tournament.position ($tournament.tournament_dt.strftime("%d/%m/%Y"))</a></p></div></li>

                	            
  

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta http-equiv="Content-Language" content="en-us"/>
     
    <title>Portail du VPT (Voltaire Poker Tour)</title>
     
    <script type="text/javascript" src="/public/js/jquery-1.6.min.js"></script> 
    <script type="text/javascript" src="/public/js/defaults.js"></script> 
    <link href="/public/css/defaults.css" rel="stylesheet" type="text/css"/> 
</head> 
 
 
<body>  

<div class="wrapper"> 
<div class="header"><h1><a href="/">V<span>P</span>T</a></h1></div>
<ul class="notifications">
$:show_left_menu() 
</ul>			
							
<div class="content"> 
$:content
</div>	

</div>

</body>
</html>