$def with (login_form, recover_password_form)

<div class="post">
 
<h2>Identification requise</h2> 
<br />
<div class="login_form_wrapper">
<form id="login" action="" method="post" class="login_form">

    $if not login_form.valid:
        <div class="login_error">Erreur de connexion : vérifiez vos identifiants</div><br />
        
    $:login_form.render_css()

</form>
<a href="#" id="display_recover_password" class="login_form_link">Mot de passe oublié ?</a>
</div>

<br />

<div id="recover_password" style="display: none;">
<h2>Mot de passe oublié ?</h2>
<br />
<form id="recover_password_form" class="login_form">

    $:recover_password_form.render_css()
    &nbsp; &nbsp;
    $:webparts.ajax_animation("recover_password_ajax_animation")
    
    <div id="recover_password_ajax_output"></div>

</form>
<br />
</div>

</div>

$code:
    webparts.register_script(webparts.JS_JQUERY)
    webparts.register_script("login.js")
