$def with (login_form, recover_password_form)

<div class="section">
<h1>Identification requise</h1>
<form action="" method="post" class="narrow">

    $if not login_form.valid:
        <div class="field_error">Erreur de connexion : vérifiez vos identifiants</div>
        
    $:login_form.render_css()

<a href="#" id="display_recover_password">Mot de passe oublié ?</a>
<div style="clear: both;"></div>
</form>
</div>

<div class="section" id="recover_password" style="display: none;">
<h1>Mot de passe oublié ?</h1>
<form id="recover_password_form" class="narrow">

    $:recover_password_form.render_css()
    $:webparts.ajax_animation("recover_password_ajax_animation")
    
    <div id="recover_password_ajax_output"></div>

</form>
</div>

$code: webparts.register_script("login.js")
