$def with (poll)

$def show_poll_start_date():
    <tr><td class="title">Date d'ouverture</td><td>$:formatting.format_date(poll.start_dt, "%d/%m/%Y")</td></tr>
    
$def show_poll_end_date():
    $if poll.end_dt:
        <tr><td class="title">Date de fermeture</td><td>$:formatting.format_date(poll.end_dt, "%d/%m/%Y")</td></tr>    

$def show_poll_state():
    <tr><td class="title">Statut</td><td>
    $if poll.expired:
        <span class="poll_close">Fermé</span>
    $else:
        <span class="poll_ope">Ouvert</span>
    </td></tr>

<br />
<table class="stats">
    $:show_poll_start_date()
    $:show_poll_end_date()
    $:show_poll_state()
</table>
<br />