$def with (poll)

$def show_poll_start_date():
    <tr><td>Date d'ouverture</td><td>$:formatting.format_date(poll.start_dt, "%d/%m/%Y")</td></tr>
    
$def show_poll_end_date():
    $if poll.end_dt:
        <tr><td>Date de fermeture</td><td>$:formatting.format_date(poll.end_dt, "%d/%m/%Y")</td></tr>    

$def show_poll_state():
    <thead><tr><th>Statut</th><th>
    $if poll.expired:
        Fermé
    $else:
        Ouvert
    </th></tr></thead>

<table class="rounded narrow">
    $:show_poll_state()
    $:show_poll_start_date()
    $:show_poll_end_date()
</table>
