$def with (tournament, statistics, results, comments)

$def show_administration_link_if_authorized():
    $if config.session_manager.user.admin:
        <a href="#" id="admin_results_link" data-tournament-id="$tournament.id"> <img src="/public/img/lock.png" /></a>
        <script type="text/javascript" src="/public/js/admin_results.js"></script>

$def show_comment_form():
    <form id="comment_form">
    <input type="hidden" name="tournament_id" value="$tournament.id" />
    <textarea id="comment" name="comment" class="comment_textarea"></textarea> 
    <br /> 
    <button type="submit" class="comment_button">Poster un commentaire</button> 
    &nbsp; &nbsp;
    $:formatting.ajax_animation("comment_ajax_animation")
    </form>
    <script type="text/javascript" src="/public/js/comments.js"></script>

<div class="post"> 
<h2>
Tournoi $tournament.position ($:formatting.format_date(tournament.tournament_dt, "%A %d %B %Y")) 
$:formatting.ajax_animation("statistics_ajax_animation")
</h2> 

<div id="statistics">
$:statistics
</div>

<h2>
$if tournament.future:
    Inscriptions 
$else:
    Résultats 
$:show_administration_link_if_authorized()
$:formatting.ajax_animation("results_ajax_animation")
</h2>

<div id="results">
$:results
</div>

<h2>Photos</h2> 

<div id="pictures">
<p><i>Pas encore de photos pour ce tournoi !</i></p>
</div>


<div id="comments">				
$:comments
</div>
<br />
$:show_comment_form()
</div>


