$def with (tournament, statistics, results, comments)

$def show_comments_components():
    <textarea id="comment_textarea" class="comment_textarea"></textarea> 
    <br /> 
    <button id="comment_button" name="submit" type="button" onclick="postComment($tournament.id)" class="comment_button">Poster un commentaire</button> 
    &nbsp; &nbsp;<img style="display: none;" id="comment_ajax_animation" src="/public/img/ajax-loader.gif" />

<div class="post"> 
<h2>Tournoi $tournament.position ($tournament.date_tournoi.strftime("%A %d %B %Y"))</h2> 

<div id="statistics">
$:statistics
</div>

<h2>Résultats</h2>
<p>
<div id="results">
$:results
</div>
</p>


<h2>Photos</h2> 

<div id="pictures">
<p><i>Pas encore de photos pour ce tournoi !</i></p>
</div>


<div id="comments">				
$:comments
</div>
$:show_comments_components()


</div>
        



